{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <style>
        .separar{
            margin: 30px;
            margin-left: 100px;
            margin-bottom: 150px;
        }
        h1{
            padding-bottom: 25px;
        }
        p{
            padding-bottom: 5px;
        }
        input{
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>

    <div class="separar">
        <h1>{% trans "Recuperar tu cuenta" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Introduce tu correo electrónico, y te enviaremos un enlace para que vuelvas a entrar en tu cuenta." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Restablecer contraseña' %}" />
    </form>

    <p>{% blocktrans %}Comuníquese con nosotros si tiene algún problema para restablecer su contraseña.{% endblocktrans %}</p>
    </div>
    
{% endblock %}