
<body>
    <h1 style="color: #5e9ca0;">Confirmacion de Pedido!</h1>
    <h2 style="color: #2e6c80;">Estimado Sr. / Estimada Sra. usuario: </h2><dd>{{nombre}}</dd>
    <p>Muchas gracias por confiar en nosotros</p>
    <ul>
    </ul>
    <h1><span style="color: #000000;">El vendedor ofrece este producto en:</span></h1>
    <ul>
    </ul>
    <li>Efectivo</li>
    <li>Depósito bancario</li>
    </ul>
    <h2>Cómo coordino el pago del producto?</h2>
    <ol>
        <li>Muy pronto los vendedores del producto se contactaran con usted para acordar el pago del producto:</li>
    </ol>
    <p>Nota en el otro mpetodo de pago :Si elige transferencia bancaria, presta atención a la reputación del vendedor.</p>
    <p>Por seguridad, te recomendamos evitar este medio de pago si el vendedor es nuevo o su reputación es dudosa.</p>
    <p></p>
    <p>No duden en contactarnos en caso de preguntas.</p>
    <p>Les saludamos cordialmente,</p>
    <h3>Mercadito EC</h3>
